<!--TODO complete welcome page-->
<!DOCTYPE html>
<html>
<head>
	<title>course list</title>
	<link href="../lib/jquery/mobile/jquery.mobile-1.3.2.min.css" rel="stylesheet" type="text/css"/>
	<link href="style/mobile.css" rel="stylesheet" type="text/css"/>
	<link href="style/app.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div data-role="page">

	<div data-role="header" class="ui-header ui-bar-a" role="banner" data-position="fixed">
		<h1 class="ui-title" role="heading">所有科目</h1>
		<a href="#side_nav_panel" class="ui-btn-right ui-icon-nodisc" data-role="button" data-icon="bars"
		   data-iconpos="notext"
		   data-theme="a"
		   data-inline="true"></a>
	</div>

	<div data-role="content">
		<p><strong>Test</strong></p>
	</div>

	<div data-role="footer" class="ui-bar" data-position="fixed">
		<a href="index.html" data-role="button" data-icon="plus">添加错题</a>
		<a href="index.html" data-role="button" data-icon="search" class="ui-btn-right">搜索</a>
	</div>


	<script src="util/import.js" data-url="framework/side_nav.html"></script>

</div>
<script src="../lib/jquery/jquery-1.10.2.js"></script>
<script src="framework/js/nav.js"></script>
<script src="../lib/jquery/mobile/jquery.mobile-1.3.2.min.js"></script>
</body>
</html>
