<!--TODO complete welcome page-->
<!DOCTYPE html>
<html class="ui-mobile">
<head>
	<title>welcome</title>
	<link href="../lib/jquery/mobile/jquery.mobile-1.3.2.min.css" rel="stylesheet" type="text/css"/>
	<link href="style/mobile.css" rel="stylesheet" type="text/css"/>
</head>
<body class="home ui-mobile-viewport ui-overlay-c launcher-main">
<div id="wordmark">
	<img src="style/img/logo_title.png"/>
</div>
<script src="../lib/jquery/jquery-2.0.3.js"></script>
<script src="../lib/jquery/mobile/jquery.mobile-1.3.2.min.js"></script>
<script src="../controller/index.js"></script>
</body>
</html>
