.launcher-main {

}

.ui-footer .ui-btn-right {
    right: 35px !important
}

.user_panel img{
    margin-right: 5px;
}

.quick_add_div{
    display: inline-block;
    width: 40%;
    margin: 4%;
    padding: 0;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: solid 1px #000000;
}

.ui-panel-inner {
    padding: 0px;
}

.nav_list .ui-btn-up-b{
    background :transparent none;
    border-bottom: 1px solid gray;
    border-top: 0;
    border-right: 0;
}

.nav_list .ui-btn-active a.ui-link-inherit {
    color: #ffffff;
}