<div data-role="panel" id="side_nav_panel" data-position="left" data-display="push">

	<div style="padding: 15px;">
		<div class="user_panel">
			<img src="../style/images/user.png" width="32" height="32"/>

			<div style=" display: inline-block; height: 32px;">
				<span class="user_name" style="display: block;">陈婕妤</span>
				<span class="user_email">chenjyyuyu@gmail.com</span></div>
			<hr/>
		</div>

		<div class="quick_add_panel">
			<div class="quick_add_div"><a href="/source/view/question_editor/capture.html">+照片</a></div>
			<div class="quick_add_div"><a>+题目</a></div>
			<hr/>
		</div>
	</div>

	<div class="nav_list">
		<ul data-role="listview" data-theme="b">
			<li class="nav_il"><a href="course.html" >科目</a></li>
			<li class="nav_il"><a href="tags.html" >标签</a></li>
			<li class="nav_il"><a href="lists-nested.html" rel="external">知识点</a></li>
			<li class="nav_il"><a href="lists-ol.html" rel="external">消息</a></li>
			<li class="nav_il"><a href="lists-ol.html" rel="external">生成试卷</a></li>
		</ul>
	</div>
</div>
